.idea/
.data/
tmp/
.env
node_modules/
src/types
generated

build/
bin/
.DS_Store
coverage/
coverage.json
scripts/*.js
test/*.js

hardhat.config.ts
truffle-config.js

log/
*.log
!deployments/*.log
*~
*.swp
*.swo

typechain
yarn.lock
package-lock.json
*-e
.privateNetwork/

geth
node0
node1
node2
